.gem {
	font-weight: bold;
	font-size: 20px;
	color: #4682B4;
	padding-left: 10px;
	padding-right: 10px;
}

#gems {
	font-size: 15px;
	word-spacing: 30px;
	color: gray;
	display: none;
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
	margin-top: 30px;
}

#userselection {
	display: none;
}

#div-submit {
	margin-top: 100px;
}

.main {
 /* */	
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}
